datasets/*
!datasets/drugbank/results/
!datasets/drugbank/shapes/
!datasets/temples_classical_world/shapes/
!datasets/temples_classical_world/results/
!datasets/dbtunes_john_peel_sessions/results/
!datasets/dbtunes_john_peel_sessions/shapes/
shacl_shapes_test_venv/
.DS_Store
__pycache__/
*.py[cod]